# These files should be ignored by git: we don't want them under version control

# Temp and backup files:
*~

# Compiled files (object files, libraries, executables, etc.):
*.a
*.o
*.lib
*.pdb
build/*
tests/*

# Misc files
.sconsign*
test.sqlite3